In [1]:
!pip install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/6b/b5/76538d8a202f8c368d30c18892d33664d1a3b2c078af8513ee5b5d172629/pandas-0.22.0-cp27-cp27mu-manylinux1_x86_64.whl
Collecting python-dateutil (from pandas)
  Downloading https://files.pythonhosted.org/packages/cf/f5/af2b09c957ace60dcfac112b669c45c8c97e32f94aa8b56da4c6d1682825/python_dateutil-2.7.3-py2.py3-none-any.whl (211kB)
    100% |████████████████████████████████| 215kB 1.6MB/s ta 0:00:01
Collecting numpy>=1.9.0 (from pandas)
  Using cached https://files.pythonhosted.org/packages/c0/e7/08f059a00367fd613e4f2875a16c70b6237268a1d6d166c6d36acada8301/numpy-1.14.3-cp27-cp27mu-manylinux1_x86_64.whl
Collecting pytz>=2011k (from pandas)
  Using cached https://files.pythonhosted.org/packages/dc/83/15f7833b70d3e067ca91467ca245bae0f6fe56ddc7451aa0dc5606b120f2/pytz-2018.4-py2.py3-none-any.whl
Collecting six>=1.5 (from python-dateutil->pandas)
  Using cached https://files.pythonhosted.org/packages/67/4b/141a581104b1f6397bfa78ac9d43d8ad29a7ca43ea90a2d863fe3056e86a/six-1.11.0-py2.py3-none-any.whl
Installing collected packages: six, python-dateutil, numpy, pytz, pandas
Successfully installed numpy-1.14.3 pandas-0.22.0 python-dateutil-2.7.3 pytz-2018.4 six-1.11.0
You are using pip version 8.1.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [75]:
from pandas import read_csv
holidayEventData = read_csv('Events_HolidaysData.csv')
macroEconomicData = read_csv('MacroEconomicData.csv')
weatherData = read_csv('WeatherData.csv')
#macroEconomicData
#weatherData
#holidayEventData

In [83]:
from pandas import read_csv
from datetime import datetime
def labelConvert(s):
    s = s.strip().lower()
    if s == "womenclothing":
        return 0
    if s == "menclothing":
        return 1
    return 2

dataset = read_csv('Train_Kaggle.csv', converters={2:labelConvert})
#del dataset['Sales(In ThousandDollars)']
dataset

,Year,Month,ProductCategory,Sales(In ThousandDollars),No.of Holidays,Avg GDP Index,WeatherEvents
0,2009,1,0,1755,2,14414.4030,10
1,2009,1,1,524,2,14414.4030,10
2,2009,1,2,936,2,14414.4030,10
3,2009,2,0,1729,2,14377.6880,6
4,2009,2,1,496,2,14377.6880,6
5,2009,2,2,859,2,14377.6880,6
6,2009,3,0,2256,0,14346.2440,10
7,2009,3,1,542,0,14346.2440,10
8,2009,3,2,921,0,14346.2440,10
9,2009,4,0,2662,1,14339.2090,11
10,2009,4,1,669,1,14339.2090,11
11,2009,4,2,914,1,14339.2090,11
12,2009,5,0,2732,2,14357.0145,14
13,2009,5,1,650,2,14357.0145,14
14,2009,5,2,989,2,14357.0145,14
15,2009,6,0,2220,1,14347.6755,20
16,2009,6,1,607,1,14347.6755,20
17,2009,6,2,932,1,14347.6755,20
18,2009,7,0,2164,2,14331.5245,13
19,2009,7,1,575,2,14331.5245,13
20,2009,7,2,901,2,14331.5245,13
21,2009,8,0,2371,0,14430.0490,12
22,2009,8,1,551,0,14430.0490,12
23,2009,8,2,865,0,14430.0490,12
24,2009,9,0,2421,1,14418.3750,7
25,2009,9,1,579,1,14418.3750,7
26,2009,9,2,819,1,14418.3750,7
27,2009,10,0,2579,2,14595.9990,13
28,2009,10,1,610,2,14595.9990,13
29,2009,10,2,914,2,14595.9990,13
...,...,...,...,...,...,...,...
186,2014,3,0,4268,0,15804.5190,23
187,2014,3,1,702,0,15804.5190,23
188,2014,3,2,1293,0,15804.5190,23
189,2014,4,0,4223,2,15870.1780,18
190,2014,4,1,785,2,15870.1780,18
191,2014,4,2,1196,2,15870.1780,18
192,2014,5,0,4421,2,15946.7410,19
193,2014,5,1,801,2,15946.7410,19
194,2014,5,2,1257,2,15946.7410,19
195,2014,6,0,3905,1,15990.9770,20
196,2014,6,1,702,1,15990.9770,20
197,2014,6,2,0,1,15990.9770,20
198,2014,7,0,3733,1,16089.4990,20
199,2014,7,1,655,1,16089.4990,20
200,2014,7,2,1175,1,16089.4990,20
201,2014,8,0,4067,0,16196.4200,25
202,2014,8,1,692,0,16196.4200,25
203,2014,8,2,1337,0,16196.4200,25
204,2014,9,0,4481,1,16133.0490,23
205,2014,9,1,0,1,16133.0490,23
206,2014,9,2,1056,1,16133.0490,23
207,2014,10,0,4434,2,16196.8140,17
208,2014,10,1,757,2,16196.8140,17
209,2014,10,2,1153,2,16196.8140,17
210,2014,11,0,4525,2,16243.0550,20
211,2014,11,1,803,2,16243.0550,20
212,2014,11,2,1468,2,16243.0550,20
213,2014,12,0,5664,3,16221.1800,14
214,2014,12,1,1070,3,16221.1800,14
215,2014,12,2,1967,3,16221.1800,14

In [84]:
from pandas import read_csv
dataset_test = read_csv('Test_Kaggle.csv', converters={2:labelConvert})
del dataset_test['Sales(In ThousandDollars)']
dataset_test

    Year  Month  ProductCategory  No.of Holidays  Avg GDP Index  WeatherEvents
0   2015      1                0               2     17055.9515             20
1   2015      1                1               2     17055.9515             20
2   2015      1                2               2     17055.9515             20
3   2015      2                0               2     17165.9865             17
4   2015      2                1               2     17165.9865             17
5   2015      2                2               2     17165.9865             17
6   2015      3                0               0     17115.2530             15
7   2015      3                1               0     17115.2530             15
8   2015      3                2               0     17115.2530             15
9   2015      4                0               2     17221.4425             22
10  2015      4                1               2     17221.4425             22
11  2015      4                2               2     17221.4425             22
12  2015      5                0               2     17254.8815             25
13  2015      5                1               2     17254.8815             25
14  2015      5                2               2     17254.8815             25
15  2015      6                0               1     17354.9720             16
16  2015      6                1               1     17354.9720             16
17  2015      6                2               1     17354.9720             16
18  2015      7                0               2     17319.9290             22
19  2015      7                1               2     17319.9290             22
20  2015      7                2               2     17319.9290             22
21  2015      8                0               0     17353.4655             26
22  2015      8                1               0     17353.4655             26
23  2015      8                2               0     17353.4655             26
24  2015      9                0               1     17459.6530             25
25  2015      9                1               1     17459.6530             25
26  2015      9                2               1     17459.6530             25
27  2015     10                0               2     17409.5820             24
28  2015     10                1               2     17409.5820             24
29  2015     10                2               2     17409.5820             24
30  2015     11                0               2     17395.2220             24
31  2015     11                1               2     17395.2220             24
32  2015     11                2               2     17395.2220             24
33  2015     12                0               4     17447.5670             14
34  2015     12                1               4     17447.5670             14
35  2015     12                2               4     17447.5670             14

In [85]:

# manually specify column names
dataset['Sales(In ThousandDollars)'].fillna(0, inplace=True)
#print(dataset)
dataset.to_csv('sales.csv')

data_Y_trainsales = dataset[['Sales(In ThousandDollars)']]
data_X_train = dataset.iloc[:,0:7]
del data_X_train['Sales(In ThousandDollars)']
#data_Y_trainsales
data_X_train

,Year,Month,ProductCategory,No.of Holidays,Avg GDP Index,WeatherEvents
0,2009,1,0,2,14414.4030,10
1,2009,1,1,2,14414.4030,10
2,2009,1,2,2,14414.4030,10
3,2009,2,0,2,14377.6880,6
4,2009,2,1,2,14377.6880,6
5,2009,2,2,2,14377.6880,6
6,2009,3,0,0,14346.2440,10
7,2009,3,1,0,14346.2440,10
8,2009,3,2,0,14346.2440,10
9,2009,4,0,1,14339.2090,11
10,2009,4,1,1,14339.2090,11
11,2009,4,2,1,14339.2090,11
12,2009,5,0,2,14357.0145,14
13,2009,5,1,2,14357.0145,14
14,2009,5,2,2,14357.0145,14
15,2009,6,0,1,14347.6755,20
16,2009,6,1,1,14347.6755,20
17,2009,6,2,1,14347.6755,20
18,2009,7,0,2,14331.5245,13
19,2009,7,1,2,14331.5245,13
20,2009,7,2,2,14331.5245,13
21,2009,8,0,0,14430.0490,12
22,2009,8,1,0,14430.0490,12
23,2009,8,2,0,14430.0490,12
24,2009,9,0,1,14418.3750,7
25,2009,9,1,1,14418.3750,7
26,2009,9,2,1,14418.3750,7
27,2009,10,0,2,14595.9990,13
28,2009,10,1,2,14595.9990,13
29,2009,10,2,2,14595.9990,13
...,...,...,...,...,...,...
186,2014,3,0,0,15804.5190,23
187,2014,3,1,0,15804.5190,23
188,2014,3,2,0,15804.5190,23
189,2014,4,0,2,15870.1780,18
190,2014,4,1,2,15870.1780,18
191,2014,4,2,2,15870.1780,18
192,2014,5,0,2,15946.7410,19
193,2014,5,1,2,15946.7410,19
194,2014,5,2,2,15946.7410,19
195,2014,6,0,1,15990.9770,20
196,2014,6,1,1,15990.9770,20
197,2014,6,2,1,15990.9770,20
198,2014,7,0,1,16089.4990,20
199,2014,7,1,1,16089.4990,20
200,2014,7,2,1,16089.4990,20
201,2014,8,0,0,16196.4200,25
202,2014,8,1,0,16196.4200,25
203,2014,8,2,0,16196.4200,25
204,2014,9,0,1,16133.0490,23
205,2014,9,1,1,16133.0490,23
206,2014,9,2,1,16133.0490,23
207,2014,10,0,2,16196.8140,17
208,2014,10,1,2,16196.8140,17
209,2014,10,2,2,16196.8140,17
210,2014,11,0,2,16243.0550,20
211,2014,11,1,2,16243.0550,20
212,2014,11,2,2,16243.0550,20
213,2014,12,0,3,16221.1800,14
214,2014,12,1,3,16221.1800,14
215,2014,12,2,3,16221.1800,14

In [86]:
'''
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score

regr = LogisticRegression()
regr.fit(data_X_train, data_Y_trainsales)
y_predict = regr.predict(dataset_test)
y_predict'''

'\nfrom sklearn.linear_model import LogisticRegression\nfrom sklearn.metrics import mean_squared_error, r2_score\n\nregr = LogisticRegression()\nregr.fit(data_X_train, data_Y_trainsales)\ny_predict = regr.predict(dataset_test)\ny_predict'

In [87]:
'''from sklearn import linear_model

regr = linear_model.LinearRegression()
regr.fit(data_X_train, data_Y_trainsales)

y_predict = regr.predict(dataset_test)
y_predict'''

'from sklearn import linear_model\n\nregr = linear_model.LinearRegression()\nregr.fit(data_X_train, data_Y_trainsales)\n\ny_predict = regr.predict(dataset_test)\ny_predict'

In [88]:
from sklearn import tree
import numpy as np

X = np.array(data_X_train)
y = np.array(data_Y_trainsales)
z = np.array(dataset_test)

model = tree.DecisionTreeClassifier()
model.fit(X, y)
y_predict = model.predict(z)
y_predict

array([2320,  573, 1172, 3381,  785, 1123, 3566,  785, 1261, 4067,  692,
       1337, 4067,  692, 1337, 3905,  757, 1261, 4067,  692, 1337, 4067,
        692, 1337, 4067,  692, 1337, 4067,  692, 1337, 4067,  692, 1337,
       5664, 1070, 1967])

In [89]:
import pandas as pd
op = pd.DataFrame(y_predict)
op.to_csv('test_results.csv')